<div class="source {{if source 'active' 'inactive'}}"  {{action 'toggleSource'}}>
    <i class="fa fa-link" id={{buttonId}}></i>
  {{#if loaded}}
    {{#if displaySource}}
      {{#tether-dialog close='closeSource' hasOverlay=false clickOutsideToClose=true  target=sButtonId
      targetAttachment='bottom left' attachment='top left' container-class='term-source'}}
          {{translation-source source=source closeSource="closeSource"}}
      {{/tether-dialog}}
    {{/if}}
  {{/if}}
</div>
